<!--csrf Za POST asihrono-->
<div class="debugging" hidden>
    <p id="csrf">{% csrf_token %}</p>
</div>

<div class="">
    <label for="id_pdf" class="form-label">
        <strong>Pdf</strong> <span class="span-info">Your file must not be larger than 1 MB and
            the number of
            characters in the name must be less than 30!</span>
    </label>
    <br>
    {% if project_pdf %}
    <div id="current_pdf">
        You current pdf file: {{project_pdf}}
    </div>
    {% endif %}
    <input type="file" class="custom-file-input" id="id_pdf" name="pdf" accept="application/pdf">
    <label class="custom-file-label" for="id_pdf" id="pdf_label">Choose file...</label>

    <!--sa js evaluation-->
    <div class="invalid-feedback-client" id="izbor_fajla_alert"></div>
</div>


<div class="col-auto">

    <input type="submit"  class="btn btn-primary mb-3 create-update-project" name="forma" value="Submit">
    <button type="reset" id="cancel_id" class="btn btn-secondary mb-3 create-update-project"
        onclick="cancel()">Cancel</button>
    {% if project_pdf %}
    <button type="button" class="btn btn-warning mb-3 create-update-project" id="delite_file" onclick="deletePDF()">Delete current file</button>
    {% endif %}
</div>